@model FINALGARETTOJUAN.Models.Stock

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link href="~/css/estilos.css" rel="stylesheet" />
</head>

<h3 class="text-center" >Seguro que quieres eliminar este stock?</h3>
<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="font-size: 20px;color:black" >
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10" style="font-size: 20px">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2" style="font-size: 20px;color:black" >
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class="col-sm-10" style="font-size: 20px">
            @Html.DisplayFor(model => model.producto.Descripcion)
        </dd>
    </dl>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger btn-sm btn-custom botones" value="Eliminar" /> | 
        <a asp-action="Index" class="btn btn-primary">Volver a Inicio</a>
    </form>
    
</div>
