@model FINALGARETTOJUAN.Models.Stock
<head>
    <link href="~/css/estilos.css" rel="stylesheet" />
</head>
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles</h1>

<div>
    <h4>Stock</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2" style="font-size: 20px">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10" style="font-size: 20px">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2" style="font-size: 20px">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class="col-sm-10" style="font-size: 20px">
            @Html.DisplayFor(model => model.producto.Descripcion)
        </dd>
    </dl>
</div>
<div >
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm btn-custom botones">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Volver a Inicio</a>
</div>
