@model IEnumerable<FINALGARETTOJUAN.Models.Modelo>

<head>
    <link href="~/css/estilos.css" rel="stylesheet" />
</head>



@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Modelos para Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cargar Modelo</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            

                <td>
                    <div class="botones">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm btn-custom">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm btn-custom">Eliminar</a>
                    </div>   
                </td>

            
        </tr>
}
    </tbody>
</table>
